.headerContainer {
    border-radius: 14px;
    margin: 0px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headerText{
    font-size: 20px;
    background: -webkit-linear-gradient(var(--app-accent-color), var(--app-accent-color-darker));
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    cursor: pointer;
}

.headerLogoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.headerLogo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.headerIcon {
    width: 24px;
    height: 24px;
    position: relative;
    left: -39px;
    top: 3px;
    position: relative;
}


.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    min-width: 350px;
    max-width: 1080px;
    flex-wrap: wrap;
}

.landingHeaderText {
    font-size: 72px;
    background: -webkit-linear-gradient(var(--app-accent-color), var(--app-accent-color-darker));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    margin: 0px;
    font-family: fantasy;
    width: 100%;
    margin-bottom: 40px;
}

.landingText{
    color: white;
    width: 60%;
}

.headerMenuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0px;
}

.headerMenuItem{
    margin: 0px 20px;
    background: -webkit-linear-gradient(var(--app-accent-color), var(--app-accent-color-darker));
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 19px;
    padding: 10px 0px;
}

.headerMenuItem.activeHeaderMenu{
    border-bottom: 2px solid var(--app-accent3-color);
}

.headerBtn{
    border: 2px solid var(--app-accent3-color);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(50px);
    background: -webkit-linear-gradient(var(--app-accent-color), var(--app-accent-color-darker));
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 19px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 20px;
}