<div class="headerContainer">
    <div class="headerLogoContainer">
        <img class="headerLogo" src="/assets/images/pokedexIcon.png">
        <div class="headerText">
            POKEDEX
        </div>
    </div>
    <div class="headerMenuContainer">
        <div class="headerMenuItem activeHeaderMenu">
            Cards
        </div>
        <div class="headerMenuItem">
            Who's that pokemon
        </div>

    </div>
    <div class="headerBtn">
        Website Info
    </div>
</div>

<div class="landingContainer">
    <div class="landingTextContainer">
        <p class="landingHeaderText">
            Destiny has been waiting for you. Find all your favorite POKEMON here.
        </p>
        <p class="landingText">
            Become the Pokemon Master you have always dreamed of. Search pokemon, filter by type, rarity and get all the relative info like stats, evolution chain, etc. in the pokedex.
        </p>
    </div>
</div>
