.headerContainer {
    border-radius: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.headerLogoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px;
}

.headerLogo {
    width: 130px;
    height: 46px;
    object-fit: cover;
}

.headerIcon {
    width: 24px;
    height: 24px;
    position: relative;
    left: -39px;
    top: 3px;
    position: relative;
}


.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    min-width: 350px;
    max-width: 1080px;
    flex-wrap: wrap;
}

.landingHeaderText {
    font-size: 72px;
    background: -webkit-linear-gradient(var(--app-accent-color), var(--app-accent-color-darker));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    margin: 0px;
    font-family: fantasy;
    width: 100%;
    margin-bottom: 40px;
}

.landingText{
    color: white;
    width: 60%;
}