<div class="headerContainer">
    <div class="headerLogoContainer">
        <img class="headerLogo" src="/assets/images/pokemonHeaderLogo.png">
    </div>
</div>

<div class="landingContainer">
    <div class="landingTextContainer">
        <p class="landingHeaderText">
            Destiny has been waiting for you. Find all your favorite POKEMON here.
        </p>
        <p class="landingText">
            Become the Pokemon Master you have alwast wanted to be. Search pokemon, filter by type, rarity and get all the relative info like stats, evolution chain, etc. in the pokedex.
        </p>
    </div>
</div>
