<div class="pokedexContainer">
  <div class="topCircleContainer">
    <div id="bigCircle">
      <div id="blueCircle"></div>
    </div>
    <div id="redDot"></div>
    <div id="yellowDot"></div>
    <div id="greenDot"></div>
  </div>
  <div class="screenContainer">
    <div id="screen">
      <div class="screenBtnContainer">
        <div id="redButton1" class="redButton"></div>
        <div id="redButton2" class="redButton"></div>
      </div>
      <div id="display"><img src="" alt="squirtle" /></div>
      <div class="screenBigRedBtnContainer">
        <div id="redCircle" class="redButton"></div>
      </div>
    </div>
  </div>
  <div class="detailsContainer">
    <div id="screen" class="detailScreen"></div>
  </div>
</div>
