.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftV {
    width: 30%;
    min-width: 200px;
    height: 100vh;
    min-height: 700px;
    max-width: 400px;
    display: none;
}

.pokedexContainer {
    height: 100%;
    border: 10px solid #ff363c;
}

.pokedexTopContainer {
    position: relative;
    top: 0px;
}

.pokedexBottomContainer {
    position: absolute;
    bottom: -7px;
    width: calc(30% - 19px);
    min-width: 181px;
    overflow: auto;
    max-width: 382px;
}

.pokexDataContainer {
    width: 100%;
    height: calc(100vh - 30vw);
    max-height: 400px;
}

.pokeDexImg {
    width: 100%;
    height: 100%;
}

.rightV {
    // width: 70%;
    // height: calc(100vh - 27px);
    // min-width: calc(100% - 400px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.listPaginatorContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex-wrap: wrap;
}

.listContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 41px;
    row-gap: 20px;
    width: 80%;
}

.paginatorContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-top: 30px;
}

.hiddenFilter {
    width: 0px;
    overflow: hidden;
}

.optionsIconContainer {
    display: flex;
    justify-content: start;
    align-items: center;
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background: white;
    padding: 8px;
    border-radius: 5px;
}

.searchFilterBar {
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 10px 20px;
    // background: white;
    // border-radius: 14px;
    // box-shadow: 0px 9px 10px 3px #0000000a;
    // margin: 10px 0px 10px 23px;


    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 10px 35px 10px;
}

.filterCount {
    position: relative;
    color: var(--app-accent3-color);
}

.filterBtn {
    background-image: linear-gradient(to bottom, var(--app-accent-color), var(--app-accent-color-darker));
    padding: 8px;
    width: 62px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-left: 19px;
}

.filterBtn:hover{
    cursor: pointer;
}